@import url('https://fonts.googleapis.com/css?family=Asset|Kaushan+Script&display=swap');

:root {
  --main-color: black;
}

* {
    box-sizing: border-box;
}

body {
  max-width: 980px;
  margin: auto;
}

nav {
background: rgb(82,144,242);
background: linear-gradient(45deg, rgba(82,144,242,1) 0%, rgba(217,215,242,1) 0%, rgba(100,164,177,1) 100%);!important;  
}

.yourElement {
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

h2, h3 {
    margin: 30px;
}

#map {
    display: flex;
    justify-content: center;
    border: 5px solid #0844a4;   
}

.header-logo {
    font-family: "Asset";
    font-size: 2rem;
    color: #0844a4;
    margin-bottom: 1px;
}

.under-logo {
    font-family: "Kaushan Script";
    color: #0844a4;
    margin-top: 5px;
    }
.page {
    background: rgb(82,144,242);
    background: linear-gradient(45deg, rgba(82,144,242,1) 0%, rgba(217,215,242,1) 0%, rgba(100,164,177,1) 100%);
}
.active {
     background-color: #2196f3;
}

.logo {
    margin-left: 30px;
    text-align: center;
}
ul {
    background-color: #0844a4;
    align-items: center;
}

a {
    color: white!important;
}

article {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.solar, .wind {
    display: flex;
}

.solar-content, .wind-content {
    flex: 1;
    text-align: center;
    padding: 10px;
}
img {
    margin-top: 10px;
}

h2, h3 {
    font-family: "Kaushan Script";
    font-size: 2rem;
    color: #0844a4;
    text-align: center;
}