@import url('https://fonts.googleapis.com/css?family=Asset|Kaushan+Script&display=swap');

:root {
  --main-color: black;
}

* {
    box-sizing: border-box;
}

body {
  max-width: 980px;
  margin: auto;
}

.navbar-nav {
    flex: 1;
    margin-right: 10px;
}

nav {
background: rgb(82,144,242);
background: linear-gradient(45deg, rgba(82,144,242,1) 0%, rgba(217,215,242,1) 0%, rgba(100,164,177,1) 100%);!important;  
}

.yourElement {
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

h2, h3 {
    margin: 30px;
}

.contact {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}


@media (max-width: 700px) {
    .contact {
        flex-direction: column;
    }
}

#btn-phone-call {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#btn-under-form {
    width: 100%;
}

.form-ordinery {
    margin: 0 10px;
}

.phone-call {
    display: flex;
    justify-content: center;
    align-items: center;

}

#map {
    display: flex;
    justify-content: center;
    border: 5px solid #0844a4;   
}

.header-logo {
    font-family: "Asset";
    font-size: 2rem;
    color: #0844a4;
    padding-top: 15px;
    margin-bottom: 0;
}

.under-logo {
    font-family: "Kaushan Script";
    color: #0844a4;
    font-size: 15px;
    padding-top: 0;
    }
.page {
    background: rgb(82,144,242);
    background: linear-gradient(45deg, rgba(82,144,242,1) 0%, rgba(217,215,242,1) 0%, rgba(100,164,177,1) 100%);
}
.active {
     background-color: #2196f3;
}

.active:hover {
     background-color: #2196f3;
     border-radius: 3px;
}

.logo {
    margin-left: 20px;
    text-align: center;
    margin-right: 20px;
}
ul {
    background-color: #0844a4;
    box-sizing: border-box;
}

li {
    width: 25%;
    text-align: center;
}

li:hover {
    transform: scale(1.2, 1.2);
    transition: easy 0.4s;
    background-color: #0844a4;
    border-radius: 3px;
}

a {
    color: white!important;
}

.d-block {
    margin-top: 0;
}

article {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.text-content {
    margin: 15px;
}

.solar, .wind {
    display: flex;
}

.solar-content, .wind-content {
    flex: 1;
    text-align: center;
    padding: 10px;
}
img {
    margin-top: 10px;
}

h2, h3 {
    font-family: "Kaushan Script";
    font-size: 2rem;
    color: #0844a4;
    text-align: center;
}